@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer */
    scrollbar-width: none;  /* Firefox */
}

@font-face {
    font-family: "edu";
    src: url("/static/fonts/EduQLDBeginner-VariableFont_wght.ttf");
}
